﻿@model Cinemas.Models.Booking

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Booking Successful!!!</h2>
<h4>Email confirmation has been sent to the registered email id</h4>
