﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <link href="~/Content/Styles/style.css" rel="stylesheet" />
    <style type="text/css">
        a.my-class {
            color: white;
        }

            a.my-class:active {
                color: maroon;
            }

            a.my-class:link {
                color: white;
            }

            a.my-class:visited {
                color: white;
            }
    </style>
</head>

<body style="background-image: url('../../Content/Images/bg.jpg'); background-size: cover;">

    <center> <h2 style="align-content:center;color:white;font-size:xx-large; font-family:Constantia">LUXE Cinemas</h2></center>
    <div id="wowslider-container">
        <div class="ws_images">
            <ul>
                <li><a href="#"><img src="~/Content/Images/tombraider.jpg" alt="Tomb Raider" title="" id="wows_0" /></a></li>
                <li><a href="#"><img src="~/Content/Images/panther.jpg" alt="Black Panther" title="" id="wows_1" /></a></li>
                <li><a href="#"><img src="~/Content/Images/avengers.jpg" alt="Avengers" title="" id="wows_2" /></a></li>
                <li><a href="#"><img src="~/Content/Images/rabbit.jpg" alt="Rascal Rebel Rabbit" title="" id="wows_3" /></a></li>
                <li><a href="#"><img src="~/Content/Images/spidy.jpg" alt="Spider Man" title="" id="wows_4" /></a></li>
                <li><a href="#"><img src="~/Content/Images/wrinkle.jpg" alt="Wrinkle" title="" id="wows_5" /></a></li>
            </ul>
        </div>
        <div class="ws_bullets">
            <div>
                <a href="#" title=""><img src="~/Content/tooltips/tombraider.jpg" alt="Tomb Raider" />1</a>
                <a href="#" title=""><img src="~/Content/tooltips/panther.jpg" alt="Black Panther" />2</a>
                <a href="#" title=""><img src="~/Content/tooltips/avengers.jpg" alt="Avengers" />3</a>
                <a href="#" title=""><img src="~/Content/tooltips/rabbit.jpg" alt="Rascal Rebel Rabbit" />4</a>
                <a href="#" title=""><img src="~/Content/tooltips/spidy.jpg" alt="Spider Man" />5</a>
                <a href="#" title=""><img src="~/Content/tooltips/wrinkle.jpg" alt="Wrinkle" />6</a>
            </div>
        </div>
        <a href="#" class="ws_frame"></a>
        <div class="ws_shadow"></div>
    </div>
    <script type="text/javascript" src="~/Scripts/wowslider.js"></script>
    <script type="text/javascript" src="~/Scripts/script.js"></script>
    @*<div class="navbar-form">
            <img id="img_header" alt="Movies" src="@Url.Content("~/Content/Images/MoviesHeaderImage.png")" />
        </div>*@
    <div class="navbar-collapse collapse" style="padding-top:70px!important">
        <table class="table">
            <thead>
                <tr></tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2" width="10%">
                        <ul class="nav navbar-nav">
                            <li>
                                <h5 style="color:black">Customer</h5>
                                <ol>
                                    @Html.ActionLink("Login", "Index", "Logins", null, new { @class = "my-class" })
                                </ol>
                            </li>
                            <li id="adminList">
                                <h5 style="color:black">Admin</h5>
                                <ol>@Html.ActionLink("Manage Customers", "Index", "Customers", null, new { @class = "my-class" })</ol>
                                <ol>@Html.ActionLink("Card Information", "Index", "CreditCards", null, new { @class = "my-class" })</ol>
                                <ol>@Html.ActionLink("Bookings Information", "Index", "Bookings", null, new { @class = "my-class" })</ol>

                            </li>
                        </ul>
                    </td>
                    <td width="90%">
                        <div class="container body-content">
                            @RenderBody()
                            <hr />
                            <footer>
                                <p>&copy; Luxe Cinemas</p>
                            </footer>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
