﻿@model IEnumerable<Cinemas.Models.CreditCard>

@{
    ViewBag.Title = "Card Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="font-family:'Bodoni MT';font-size:x-large; color:white">
    Card Information</h2>

    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CardType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardNumber)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.SecurityPin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpiryDate)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.NameOnCard)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CardType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CardNumber)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.SecurityPin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpiryDate)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.NameOnCard)
                </td>
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>*@
            </tr>
        }

    </table>
