﻿@model Cinemas.Models.Login
@{
    ViewBag.Title = "Validate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Validate</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Customer</h4>
        <hr />

        <table>
            <tr>
                <td width="30%">
                    <div class="form-group">
                        @Html.LabelFor(model => model.loginId, htmlAttributes: new { @class = "control-label col-md-2" })</div>
                </td>
                <td width="70%">
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.loginId, new { htmlAttributes = new { @class = "width200" } })
                        @Html.ValidationMessageFor(model => model.loginId, "", new { @class = "text-danger" })

                    </div>
                </td>
            </tr>
            <tr>
            <td width="30%">
                <div class="form-group">
                    @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })</div>
            </td>
            <td width="70%">
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.password, new { htmlAttributes = new { @class = "width200" } })
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })

                </div>
            </td></tr>
        </table>
    </div>
    <div class="form-group">
        @*@Html.Label("New User", htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">
            @Html.ActionLink("Sign up", "Create", "Customers", new { area = "" }, new { htmlAttributes = new { @class = "form-control" } })
        </div>

    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Login" class="btn btn-default" />
        </div>
    </div>
    </div>
    }
</body>
</html>

